<!doctype html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <title>Rémi Denimal - UX designer</title>

	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name='title' content='Gulp starter kit'>   
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <link rel="stylesheet" href="css/style.css" />
	    
	    <script src="https://use.typekit.net/cre7cth.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>

	</head>
	<body>
		<header class='header'>
			<h1><a href="#">RD</a></h1>
			<ul class="header--menu">
				<li><a href="" class='header--menu-intro'>Intro</a></li>
				<li><a href="" class='header--menu-works'>Works</a></li>
				<li><a href="" class='header--menu-about'>About</a></li>
				<li><a href="" class='header--menu-about'>Contact</a></li>
			</ul>
		</header>
		<div class="grid">
			<div class="grid--line"></div>
			<div class="grid--line"></div>
			<div class="grid--line"></div>
		</div>
		<main class="container">
			<section class="introduction section" id='introduction'>
				<h1 class="introduction--title">
					<span class='introduction--title-line'>Hi, I'm <strong>Rémi</strong>.</span>
					<span class='introduction--title-line'>I’m an <strong>UX designer</strong> looking</span> 
					<span class='introduction--title-line'>for an amazing agency to</span> 
					<span class='introduction--title-line'>work with.</span>
				</h1>
				<h2 class='introduction--initiale introduction--initiale-r'>R</h2>
				<h2 class='introduction--initiale introduction--initiale-d'>D</h2>
				<div class="introduction--scroll-down"></div>
			</section>
			<section class="works section">
				<div class="works--half works--left">
					<p class='work--title'>Project :</p>
					<h2 class='works--element work--project-title'><span>Ubikah</span></h2>
					<p class='work--title'>Subjects :</p>
					<p class='works--element work--project-subjects'><span>#javascript  #node.js  #animation  #game</span></p>
					<p class='work--title'>Description :</p>
					<p class='works--element work--project-description'><span>Ubikah is a multiplayer online game. You play an astronaut, or his drone, who need to escape to an hostile planet.</span></p>
					<p class="work--title">Role :</p>
					<p class='works--element work--project-role'><span>All of it.</span></p>
					<a href='' class="works--see-more">See more</a>
				</div>
				<div class="works--half works--right">
						<div class="work--right-cache">
							<div class="work--right-cache-content"></div>
						</div>			
						<img src='images/ubikah_drone.svg' alt='Drone from Ubikah' class='works--right-img works--ubikah-drone'>
						<img src='images/ubikah_browser.png' alt='the game Ubikah' style='opacity:0;' class='works--right-img works--ubikah-browser'>
						<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 144.6 198.7' style='enable-background:new 0 0 144.6 198.7;' xml:space='preserve'  style='opacity:0;' class='works--right-img works--ubikah-cosmonaute'>
						    <style type='text/css'>
						        .cosmonaute-st0{fill:#E0E0E0;}
						        .cosmonaute-st1{fill:#EFEFEF;}
						        .cosmonaute-st2{fill:#7AB8FC;}
						        .cosmonaute-st3{fill:none;stroke:#CD6676;stroke-width:3;stroke-miterlimit:10;}
						        .cosmonaute-st4{opacity:0.1;fill:#FFFFFF;enable-background:new    ;}
						        .cosmonaute-st5{fill:#00A2E5;}
						        .cosmonaute-st6{fill:#E3227F;}
						        .cosmonaute-st7{fill:none;stroke:#D9DADB;stroke-miterlimit:10;}
						        .cosmonaute-st8{opacity:0.2;fill:#FFFFFF;enable-background:new    ;}
						        .cosmonaute-st9{opacity:0.2;fill:#264C6B;enable-background:new    ;}
						    </style>
						    <g id='cos_face'>
						        <path id='bras_gauche' class='cosmonaute-st0' d='M2.1,163.6v-56.2c0-7.3,6-13.3,13.3-13.3l0,0c7.3,0,13.3-1.1,13.3,6.2v63.3
						            c0,7.3-6,13.3-13.3,13.3l0,0C8.1,176.9,2.1,170.9,2.1,163.6z'/>
						        <path id='bras_droit' class='cosmonaute-st0' d='M142.6,163.6v-56.2c0-7.3-6-13.3-13.3-13.3l0,0c-7.3,0-13.3-1.1-13.3,6.2v63.3
						            c0,7.3,6,13.3,13.3,13.3l0,0C136.6,176.9,142.6,170.9,142.6,163.6z'/>
						        <path class='cosmonaute-st1' d='M118.4,198.7c4.2-7.5,6.6-16.2,6.6-25.4V54.8c0-28.9-23.7-52.6-52.6-52.6c-28.9,0-52.6,23.7-52.6,52.6v118.6
						            c0,9.2,2.4,17.8,6.5,25.3H118.4z'/>
						        <circle id='tete' class='cosmonaute-st2' cx='72.4' cy='54.8' r='39.5'/>
						        <line id='trait_bras_gauche' class='cosmonaute-st3' x1='2.1' y1='163.6' x2='19.7' y2='163.6'/>
						        <line id='trait_bras_droit' class='cosmonaute-st3' x1='142.6' y1='163.6' x2='125' y2='163.6'/>
						        <path id='reflet_tête' class='cosmonaute-st4' d='M38.1,66.5C38.1,44.7,55.8,27,77.6,27c13.7,0,25.7,6.9,32.8,17.5
						            c-4.5-16.9-19.8-29.2-38-29.2c-21.8,0-39.5,17.7-39.5,39.5c0,8.2,2.5,15.8,6.7,22.1C38.6,73.6,38.1,70.1,38.1,66.5z'/>
						        <path id='led_bleue' class='cosmonaute-st5' d='M98.6,121L98.6,121c-1.9,0-3.4-1.5-3.4-3.4l0,0c0-1.9,1.5-3.4,3.4-3.4l0,0
						            c1.9,0,3.4,1.5,3.4,3.4l0,0C102.1,119.4,100.5,121,98.6,121z'/>
						        <path id='led_rose' class='cosmonaute-st6' d='M88.1,121L88.1,121c-1.9,0-3.4-1.5-3.4-3.4l0,0c0-1.9,1.5-3.4,3.4-3.4l0,0
						            c1.9,0,3.4,1.5,3.4,3.4l0,0C91.5,119.4,89.9,121,88.1,121z'/>
						        <line id='trait_corps' class='cosmonaute-st7' x1='19.7' y1='94.1' x2='19.7' y2='176.2'/>
						        <line id='trait_corps_1_' class='cosmonaute-st7' x1='124.9' y1='94.1' x2='124.9' y2='176.2'/>
						        <g>
						            <circle class='cosmonaute-st8' cx='84.4' cy='47.8' r='4.1'/>
						            <circle class='cosmonaute-st9' cx='84.4' cy='47.8' r='2.6'/>
						        </g>
						        <g>
						            <circle class='cosmonaute-st8' cx='60.4' cy='47.8' r='4.1'/>
						            <circle class='cosmonaute-st9' cx='60.4' cy='47.8' r='2.6'/>
						        </g>
						        <ellipse class='cosmonaute-st2' cx='60.4' cy='42' rx='7.5' ry='3.9'/>
						        <ellipse class='cosmonaute-st2' cx='84.4' cy='42' rx='7.5' ry='3.9'/>
						    </g>
						</svg>
				</div>
			</section>
			<section class="about section" id='about'>
				<div class="about--content-about">
					<h2>About</h2>
					<div class="about--portrait about--half">
						<img src="images/portrait.jpg" alt="moule">
					</div>
					<div class="about--text about--half">
						<p>My name is Rémi Denimal and i’m freshly graduated from the <a href="https://www.heaj.be" target='_blank'>HEAJ</a> in <a href="http://dwm.re/" target='_blank'>Design Web and Multimédia</a> in Belgium. I’m now looking for an amazing agency where I could use my skills.</p>
					</div>
				</div>
				<div class="about--content-contact">
					<h2>Contact</h2>
					<p>Want to work with me ?</p>
					<a href="mailto:hello@remidenimal.be?subject=Hello" class='contact--mail'>hello@remidenimal.be</a>
					<a href="callto:+33611980284" class='contact--tel'>(+33)6 11 98 02 84</a>
					<a href="callto:+32483716991" class='contact--tel'>(+32)4 83 71 69 91</a>
					<ul class='contact--social-list'>
						<li><a href="#" target='_blank'>twitter</a></li>
						<li><a href="#" target='_blank'>codepen</a></li>
						<li><a href="#" target='_blank'>flickr</a></li>
						<li><a href="#" target='_blank'>linkedin</a></li>
					</ul>
					</div>
			</section>
		</main>
		<script src="js/libs/plugins.min.js"></script>
		<script src="js/script.js"></script>
		
	</body>
</html>
