@import "bourbon";

$green: #52cea8;
$color: #4A4A4A;
$lightgrey: #F3F3F3;
$grey: #9F9F9F;

* {
	@include box-sizing(border-box);
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	padding: 0;
	font-family: "garamond-premier-pro",serif;
	font-style: normal;
	font-weight: 400;
	color: $color;
}

main.container {
	position: relative;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

p {
	letter-spacing: 0.4px;
	font-size: 16px;
	line-height: 28px;
	font-weight: 400;
}

a {
	color: $color;
	cursor: pointer;
	border-bottom: 2px solid #52cea8;
	text-decoration: none;
	transition: color 0.2s linear;

	&:hover {
		color: $green;
	}
}

h1,h2,h3 {
	font-family: "neuzeit-grotesk",sans-serif;
	font-style: normal;
	font-weight: 700;

	strong {
		position: relative;
		font-style: normal;
		font-weight: 700;

		&::before {
			position: absolute;
			content: '';
			width: 100%;
			height: 20px;
			background: rgba(141,236,207,0.3);
			z-index:-1;
			top: 55%;
			left: 10px;
		}
	}
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: block;
	z-index: 100;
	padding: 10px 40px;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	pointer-events: none;

	h1 {
		color: #333333;
		font-size: 14px;

		a {
			color: #333333;
			text-decoration: none;
			border: none;
		}
	}

	ul.header--menu {
		position: absolute;
		top: 0;
		right: 40px;
		list-style: none;
		margin: 0;
		margin-top: 20px;
		
		li {
			text-align: right;
			margin-bottom: 10px;

			a {
				pointer-events: initial;
				color: $color;
				font-size: 16px;
				border: none;
			}
		}
	}

	&::after {
		content: "";
		display: table;
		clear: both;
	}
}


.grid {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	max-width: 1280px;
	height: 100%;
	pointer-events: none;
	margin: 0 auto;

	.grid--line {
		position: absolute;
		width: 1px;
		background: $lightgrey;
		height: 100%;

		&:first-child {
			left: 40px;
		}

		&:nth-child(2) {
			left: 50%
		}

		&:last-child {
			right: 40px;
		}
	}
}


section {
	position: relative;
	//overflow: hidden;
}

.fp-tableCell {
	height: auto !important;
}

section.introduction {
	width: 100%;
	height: 100vh;

	.fp-tableCell,.fp-scrollable,.fp-scroller {
		height: 100vh !important;
	} 

	h1 {
		position: relative;
		font-size: 46px;
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
		top: calc(50% - 220px);
		padding-top: 106px;
		z-index:1;
		
		span {
			position: relative;
			display: inline-block;
			//@include transform(translateY(120px));
		}

		strong {			
			position: relative;
			overflow: hidden;
		}
	}

	h2 {
		position: absolute;
		display: block;
		z-index:-20;
		font-size: 260px;
		margin: 0;
		color: #F8F8F8;
		margin: 0 auto;
		z-index: 0;
		top: 50%;
		margin-top: -150px;
		left: calc(50% - 75px);
		

		&:nth-of-type(1) {
			
			
			//margin-left: -250px;
		}

		&:nth-of-type(2) {
			
			//margin-left: 250px;
		}
	}

	.introduction--scroll-down {
		position: absolute;
		width: 100%;
		height: 220px;
		left: 0;
		bottom: 0;
		cursor: s-resize;
	}
}

section.works {
	width: 100%;
	height: 100vh;

	&::before {
		position: absolute;
		content: '';
		width: 1px;
		height: 100%;
		left: 40px;
		background: rgba(0,0,0,0.05);
		z-index: 10;
	}

	&::after {
		position: absolute;
		content: '';
		display: block;
    	clear: both;
		width: 1px;
		height: 100%;
		top: 0;
		right: 40px;
		background: rgba(0,0,0,0.05);
		z-index: 10;
	}

	//@include display(flex);

	.works--half {
		position: relative;
		height: 100vh;
		width: 50%;
		float: left;

		p {
			width: 100%;
			max-width: 80%;
		}

		p.work--title {
			font-family: "neuzeit-grotesk",sans-serif;
			font-style: normal;
			font-weight: 700;
			color: $grey;
			font-size: 20px;
		}

		h2 {
			font-family: "garamond-premier-pro",serif;
			font-style: normal;
			font-weight: 400;
			margin-top: 0;
		}

		.works--element {
			position: relative;
			overflow: hidden;
			margin-left: 20px;

			span {
				position: relative;
				display: inline-block;
			}
		}

		//IMAGES WORKS

		img,svg {
			position: absolute;
			display: block;
		}

		.works--ubikah-drone {
			width: 140px;
			left: 120px;
			top: 40px;
			@include transform-origin(50% 50%); @include animation(droneFloating 2s ease-in-out infinite alternate);
		}

		.works--ubikah-browser {
			width: 600px;
			right: -100px;
			top: 160px;
		}

		.works--ubikah-cosmonaute {
			width: 200px;
			bottom: 0;
			left: -18px;
		}

		.works--libia-mobile {
			width: 240px;
			left: -100px;
			top: 10px;
			z-index: 20;
		}

		.works--libia-ipad {
			width: 520px;
			right: -80px;
			bottom: 0px;
			z-index: 20;
		}

		.works--libia-bike {
			width: 80%;
			top: 220px;
			left: 50px;
			opacity: 0.1;
			stroke: #FFF;
		}

		.works--imoule-coquillage {
			top: 40px;
			right: 140px;
			@include filter(blur(4px));
		}

		.works--imoule-moule {
			top: 140px;
			left: -80px;
		}

		.works--imoule-browser {
			width: 660px;
			right: -100px;
			bottom: -120px;
		}

		.works--imoule-crabe {
			width: 120px;
			right: 400px;
			bottom: 120px;
			@include filter(blur(1px));
		}
	}

	.works--left {
		padding: 40px;
		background: $lightgrey;
		padding-top: 80px;
	}

	.works--right {
		background: #52cea8;
		cursor: pointer;
		@include transition(background 0.8s ease-in-out);

		.work--right-cache {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 100;
			overflow: hidden;

			.work--right-cache-content {
				position: absolute;
				top: -300px;
				left: -300px;
				background: $lightgrey;
				width: 1600px;
				height: 1600px;
				border-radius: 50%;
				@include transform-origin(0 0 0);
				@include transform(scale(0));
			}
		}
	}

	.work--project-subjects {
		word-spacing: 10px;
	}

	.work--project-title {
		font-size: 48px;
		margin: 0;
	}

	.works--see-more {
		color: $color;
		position: absolute;
		bottom: 40px;
		right: 50px;
		font-size: 18px;
		@include transition(all 0.8s ease-in-out);
		border: none;

		&:after {
			content: '';
			position: absolute;
			height: 3px;
			width: 20px;
			background: $green;
			left: 0;
			bottom: 0;
			@include transition(all 0.2s cubic-bezier(0.3, -1, 0.7, 2));
		}

		&:hover {
			&:after {
				width: 100%;
			}
		}
	}
}

section.about {
	padding: 40px;
	margin-top: 80px;

	h2 {
		position: absolute;
		z-index:-20;
		font-size: 260px;
		margin: 0;
		top: -120px;
		color: #F8F8F8;
	}

	.about--content-about, .about--content-contact {
		position: relative;
		height: 100%;
		min-height: 400px;
		padding-top: 180px;

		&:first-of-type {
			margin-bottom: 180px;
		}
	}

	.about--content-about {
		h2 {
			left: -120px;
		}

		@include display(flex);

		.about--half {
			width: 50%;
			padding: 0 20px;
		}

		.about--portrait {
			margin-top: 20px;
			img {
				display: block;
				width: 100%;
				max-width: 460px;
				margin: 0 auto;
				opacity: 0.3;
			} 
		}

		p {
			width: 100%;
			max-width: 400px;
			font-size: 16px;
			line-height: 28px;
			margin: 0 auto;
			margin-top: 20px;
		}
	}

	.about--content-contact {
		h2 {
			right: -120px;
		}

		p {
			text-align: center;
		}

		a {
			display: block;
			text-align: center;
			line-height: 36px;
			border: none;
		}

		a.contact--mail {
			font-family: "neuzeit-grotesk",sans-serif;
			font-style: normal;
			font-weight: 700;
			text-align: center;
			color: $color;
			text-decoration: none;
			font-size: 46px;
			margin-bottom: 40px;
		}

		a.contact--tel {
			text-decoration: none;
			color: $color;

			&:last-of-type {
				margin-bottom: 20px;
			}
		}

		ul.contact--social-list {
			text-align: center;
			margin: 0;
			padding: 0;
			margin-bottom: 60px;

			li {
				display: inline-block;
				list-style: none;
				margin: 0;

				a {
					text-decoration: none;
					width: 40px;
					height: 40px;
					text-indent: -100000000px;
					border-radius: 50%;
					background: #55ACEE;
					margin: 0 6px;
					opacity: 0.7;
				}

				&:nth-of-type(2) {
					a {
						background: #000;
					}
				}

				&:nth-of-type(3) {
					a {
						background: #000;
					}
				}

				&:nth-of-type(4) {
					a {
						background: #0077B5;
					}
				}
			}
		}
	}
}


section.project--header {
	height: 50vh;
	width: 100%;
	background: $green;

	h1 {
		color: $lightgrey;
		position: absolute;
		margin: 0;
		font-size: 260px;
		left: 26px;
		bottom: 0;
		margin-bottom: -200px;
	}
}


@include keyframes(droneFloating) {
	0% {
		@include transform(translate(0,0) rotate(3deg));
	}

	100% {
		@include transform(translate(-4px,8px) rotate(-2deg));
	} 
}

@include keyframes(cosmonauteEyes) {
	0% {
		@include transform(translateY(0));
	}

	8% {
		@include transform(translateY(6px));
	}

	18% {
		@include transform(translateY(0));
	}

	100% {
		@include transform(translateY(0));
	}
}

@include keyframes(cosmonauteBody) {
	0% {
		@include transform(translateY(0));
	}

	100% {
		@include transform(translateY(4px));
	}
}

@include keyframes(cosmonauteArms) {
	0% {
		@include transform(translateY(0));
	}

	100% {
		@include transform(translateY(8px));
	}
}
.paupiere { @include animation(cosmonauteEyes 2s 1.2s linear infinite); }
.cosmonaute { @include animation(cosmonauteBody 3s linear infinite alternate); }
.bras,#trait_bras_gauche,#trait_bras_droit { @include animation(cosmonauteArms 2s 0.5s linear infinite alternate); }